<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta repellat aliquam minima nemo, nostrum officiis quibusdam! Ducimus, sunt. Accusamus odio aliquid animi nesciunt modi iusto sed sint porro unde.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta repellat aliquam minima nemo, nostrum officiis quibusdam! Ducimus, sunt. Accusamus odio aliquid animi nesciunt modi iusto sed sint porro unde.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis soluta repellat aliquam minima nemo, nostrum officiis quibusdam! Ducimus, sunt. Accusamus odio aliquid animi nesciunt modi iusto sed sint porro unde.</p>
        </ul>
        
    
    </div>
    </div>
    