<div class="row">
    <h1>Habilidades y Skills</h1>
<div class="col-sm-4 col-md-4 col-lg-4">
<circle-progress
[percent]="40"
[radius]="100"
title="HTML"
[showUnits]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#FFFF00'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [percent]="45"
    [radius]="100"
    title="CSS"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#FFFF00'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        title="JAVA SCRIPT"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#FFFF00'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="15"
            [radius]="100"
            title="INGLES"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FFFF00'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            ></circle-progress>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="70"
                [radius]="100"
                title="Trabajo equipo"
                [showUnits]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#FFFF00'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                ></circle-progress>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                    [percent]="50"
                    [radius]="100"
                    title="HTML"
                    [showUnits]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="8"
                    [outerStrokeColor]="'#FFFF00'"
                    [innerStrokeColor]="'#C7E596'"
                    [animation]="true"
                    [animationDuration]="300"
                    ></circle-progress>
                    </div>
</div>
