.banner-container{
  
    margin: 0 50px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleh2{
    color: azure;
    font-size: 4.5rem;
    text-shadow: 3px 3px 5px #000;
}