<nav class="barra-nav row d-flex align-items-center">
    <div class="container-left col d-flex">
   <img src="../../../assets/img/pngwing.com (1).png" alt="" width="75">
      
   <div class="text-logo ms-3">
    <h2>Developer</h2>
   </div>
   
    </div>

      <div class="container-right col d-flex justify-content-end" >
        
      
         <button *ngIf="loginShow" class="btn btn-success" type="buttom">Login</button>
         <button *ngIf="!loginShow" class="btn btn-primary" type="buttom">Logout</button>
      </div>
    
  </nav>
