<div class="about-container row">
<div class="qualification-container col-3">
<img class="faceImg img-fluid" [src]="face" alt="imagen de perfil" width="250">
<h1 class="name text-center">Renzo Rojel</h1>
<p class="qualification text-center">
Full Stack Developer
</p>
</div>
<div class="text-about col-9">  
<h3 class="section-title">Sobre Mi</h3>
<p class="about-description text-justify">Soy estudiante de Ciencias Economicas en la Universidad Nacional de Cordoba, Argentina. Tambien estudio Desarrollo Local y Regional, en la Universidad de Villa Maria, Cordoba. Empece a estudiar programacion de forma autodidacta y gracias al programa que brinda el ministerio de Economia de la nacion (Argentina Programa), pude interiorizarme mas sobre la programacion. Esta disciplina me interesa por que ofrece muchas posibilidades y oportunidades en la era digital actual. La programación permite crear soluciones tecnológicas para resolver problemas cotidianos y satisfacer necesidades específicas en diferentes campos, incluyendo la economía y el desarrollo local y regional.</p>
</div>
</div>







